<% LayoutUtils.addStylesheets('/assets/unify/css/pages/profile.css'); %>
<% LayoutUtils.addStylesheets('/assets/labfnp/css/tag-editor/jquery.tag-editor.css'); %>
<!--<div class="container">-->
<!--<pre><%= JSON.stringify(recipe, null, 2) %></pre>-->
<!--</div>-->

<style>
  .cover-photo {
    min-height: 150px;
  }
  .drops,
  .scent {
    font-size: 16px;
    font-weight: bold;
    color: black;
  }
  .scent {
    padding: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    color: white;
  }
  .shareSticker {
    max-width: 360px;
    padding-top: 10px;
  }
  .rrssb-buttons a {
    -webkit-filter: saturate(0.5);
    -moz-filter: saturate(0.5);
    -ms-filter: saturate(0.5);
    -o-filter: saturate(0.5);
    filter: saturate(0.5);
  }
  .rrssb-buttons a:hover {
    -webkit-filter: saturate(1);
    -moz-filter: saturate(1);
    -ms-filter: saturate(1);
    -o-filter: saturate(1);
    filter: saturate(1);
  }
  .panel-heading {
    padding-right: 0 !important;
  }
  .required {
    color: red;
  }
  #smubmit {
    width: 100%;
  }
  section {
    padding-bottom: 10px;
  }
  .feeling .tag-editor {
    background: white;
    border-radius: 0;
    min-height: 120px;
    border: 1px solid #ccc;
    padding-top: 2px;
  }
  .tag-editor div {
    color: #999999;
  }
  .error-text {
    color: #a94442;
    opacity: 0;
    transform: translateY(-2px);
    transition: 0.2s all;
  }
  .error-text.show {
    opacity: 1;
    transform: translateY(0);
    transition: 0.2s all;
  }

</style>

<div class="container content profile">
  <input type="hidden" name="id" class="hidden" value="<%= recipe.id %>" disabled>

  <!-- begin row -->
  <div class="row">

    <div class="col-md-6 col-md-offset-3">

      <div class="panel-heading overflow-h">

        <h2 class="pull-left">
          <i class="fa fa-comment-o" aria-hidden="true"></i>感覺回饋</h2>
        <a href="/recipe/<%= recipe.hashId %>" class="btn-u btn-u-dark pull-right">返回</a>

      </div>

      <!-- begin .profile-body -->
      <div class="profile-body">

        <div class="projects">

          <h2>
            <span class="padding-5"><%= recipe.perfumeName %></span>
          </h2>

          <ul class="list-unstyled list-inline blog-info-v2">
            <li>
              <i class="fa fa-user"></i>
              <a class="color-green" href="#">
                <%= recipe.authorName %>
              </a>
            </li>
            <li>
              <i class="fa fa-clock-o"></i>
              <%=: recipe.createdDateTime.date | formatDate %>
            </li>
            <li>
              <i class="fa fa-thumbs-o-up"></i>
              <%= recipe.UserLikeRecipes.length %></li>
          </ul>
          <hr/>

          <div class="row">
            <div class="col col-md-12">
              <div id="pieChart" class="text-center"></div>
            </div>
          </div>

          <!-- <label for="description">描述</label> -->
          <ul class="list-unstyled list-inline description">
            <li>
              <p class="padding-5"><%= recipe.description %></p>
            </li>
          </ul>


		  <% if(recipe.message.length >0){ %>
            <hr/>
            <!-- <label for="message">備註</label> -->
            <ul class="list-unstyled list-inline message">
              <li>
                <p class="padding-5"><%= recipe.message %></p>
              </li>
            </ul>
     	  <% } %>
        </h4>
      </div>

      <br/>

      <div class="text-center">
        <h3>
          <i class="fa fa-info-circle" aria-hidden="true"></i>
          <label>回饋內容</label>
        </h3>
      </div>

      <div class="projects form-group" id="orderFormWrapper">
        <form class="orderForm" id="orderForm" action="/" method="post">
          <input type="hidden" class="form-control" name="UserId" value="<%= user.id %>" >
          <input type="hidden" class="form-control" name="RecipeId" value="<%= recipe.id %>" >

          <% recipe.formula.forEach(function(formula) { %>
            <section class="col">
              <label for="scentFeeling"><%= formula.scent %> 感覺</label>
              <input type="text" class="form-control userFeeling" value="<%= scentFeeling[formula.scent] ? scentFeeling[formula.scent].feeling : '' %>" name="scentFeeling[<%= formula.scent %>]" >
            </section>
          <% }); %>

          <section class="col feeling">
            <label for="payment">您覺得調配後的感覺
            </label>
            <input type="text" class="form-control" name="feeling" >
          </section>
          <label class="error-text">請最少回饋一個項目</label>

          <section class="col">
            <label for="reciverName">發票號碼 (選填)
            </label>
            <input type="text" value="<%= recipeFeedback.invoiceNo %>" class="form-control" name="invoiceNo" placeholder="例：LB-12345678" >
          </section>

          <section class="col">
            <label for="phone">交易序號 (選填)
            </label>
            <input type="text" value="<%= recipeFeedback.tradeNo %>" class="form-control" name="tradeNo" placeholder="例：86fbe12a" >
          </section>

        </form>

      </div>

      <div class="text-center">
        <button form="orderForm" id="smubmit" type="sumbit" class="btn-u btn-u-green" data-id="<%= recipe.id %>">
          <i class="fa fa-check" aria-hidden="true"></i>
          送出
        </button>
      </div>

    </div>
    <!-- end .profile-body -->
    <div class="text-center padding-bottom-5"></div>

  </div>
  <!-- end col -->

</div>
<!-- end row -->
</div>
<% LayoutUtils.addScriptBlock(`
  var feelingData = ${JSON.stringify(feelings)};
  var initialTags = ${JSON.stringify(recipeFeedback.feeling)};
  `); %>
<% LayoutUtils.addScripts ('/assets/admin/js/plugin/d3/d3.min.js'); %>
<% LayoutUtils.addScripts ('/assets/admin/js/plugin/d3/d3pie.min.js'); %>
<% LayoutUtils.addScripts('/assets/labfnp/page/recipe/pieChart.js'); %>
<% LayoutUtils.addScripts('/assets/labfnp/page/recipe/favorite.js'); %>
<% LayoutUtils.addScripts('/assets/admin/js/libs/jquery-ui-1.10.3.min.js'); %>
<% LayoutUtils.addScripts('/assets/labfnp/lib/tag-editor/jquery.caret.min.js'); %>
<% LayoutUtils.addScripts('/assets/labfnp/lib/tag-editor/jquery.tag-editor.min.js'); %>
<% LayoutUtils.addScripts('/assets/labfnp/page/recipe/feedback.js'); %>
