<!--=== Content Part ===-->
<div class="blog_masonry_3col">
	<div class="container content grid-boxes">
		<%- include ../labfnp/main/contentPlaceHolder.inc.ejs %>
    <% var c = 0; var quoteIndex = 0; var qutoeRandom = 6 %>
	  <% feeds.forEach(function(feed, index) { c++; %>

			<div class="grid-boxes-in" style="display: none;">

				<% if (feed.fullPicture && index < 30) { %>
					<a href="/wall/<%= feed.sourceId %>" title="<%= feed.name %>">
						<img class="img-responsive" src="<%= feed.fullPicture %>" alt="<%= feed.name %>" />
					</a>
				<% } %>

				<div class="grid-boxes-caption">
					<ul class="list-inline grid-boxes-news">
						<li>
							<i class="fa fa-clock-o"></i>
							<%=: feed.createdDateTime.date %>
						</li>
						<li>|</li>
						<li>
							<a href="/wall/<%= feed.sourceId %>">
								<i class="fa fa-link" aria-hidden="true"></i>
							  檢視
							</a>
						</li>
					</ul>
					<div class="blog-content">
						<% if (feed.message) { %>
							<p class="dont-break-out"><%-: feed.message | linkifyjs | nl2br %></p>
						<% } %>
					</div>
				</div>
			</div>

			<% if (c == 2) { %>
				<div class="grid-boxes-in grid-boxes-qoute" style="display: none;">
					<div class="grid-boxes-caption grid-boxes-quote">
						<p>香水和每個人的氣味，都應該是具有獨特性並具有標誌性的，而唯有透過每個人感受與創造氣味，才能追尋出每個不同自我。</p>
						<span>- Laboratory of Fragrance &amp; Perfume -</span>
					</div>
				</div>
			<% } else if (c == 3) { %>
				<div class="grid-boxes-in" style="display: none;">
					<div style="width:240px;height:80px;padding:20px;">
				    <div class="fb-follow" data-href="https://www.facebook.com/labfnp/" data-width="200" data-height="40" data-layout="standard" data-size="large" data-show-faces="true"></div>
					</div>
				</div>
			<% } else if (c % qutoeRandom === 0 && quoteIndex < quotes.length ) {  %>
          <% qutoeRandom = qutoeRandom + (Math.floor( Math.random() * (8 - 3) + 1 ) + 3) ; %>

          <div class="grid-boxes-in grid-boxes-qoute" style="display: none;">

            <% if( quotes[quoteIndex].imgUrl && index < 30) { %>
              <img class="img-responsive" src="<%= quotes[quoteIndex].imgUrl %>" />
            <% } %>

  					<div class="grid-boxes-caption grid-boxes-quote">
              <p><%= quotes[quoteIndex].content %></p>
  						<p><%= quotes[quoteIndex].source %></p>
  						<span>- <%= quotes[quoteIndex].author %> -</span>
  					</div>
				  </div>
        <% quoteIndex++; %>
      <% } %>

	  <% }); %>

	</div><!--/container-->
</div>
<!--=== End Content Part ===-->

<% LayoutUtils.addStylesheets('/assets/unify/css/pages/blog_masonry_3col.css') %>
<% LayoutUtils.addScripts('/assets/unify/js/pages/blog-masonry-w240.js') %>
