<!-- CSS Page Style -->
<link rel="stylesheet" href="/assets/unify/css/pages/page_404_error.css">

<!--=== Content Part ===-->
<div class="container content">
	<!--Shop Done Block-->
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
      <div class="error-v1">
				<span>訂購完成</span>
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>訂購票卷</td>
              <td><%= item.EventOrder.Event.title + " 1 張" %></td>
            </tr>
						<% if(item.TradeNo){ %>
	            <tr>
	              <td>交易編號</td>
	              <td><%= item.TradeNo %></td>
	            </tr>
						<% } %>
            <tr>
              <td>應付金額</td>
              <td><%= item.ShouldTradeAmt %></td>
            </tr>
            <% if(item.BankCode){ %>
              <tr>
                <td>銀行代碼</td>
                <td><%= item.BankCode %></td>
              </tr>
            <% } %>
						<% if(item.vAccount){ %>
	            <tr>
	              <td>銀行帳號</td>
	              <td><%= item.vAccount %></td>
	            </tr>
						<% } %>
						<% if(item.ExpireDate){ %>
	            <tr>
	              <td>付款期限</td>
	              <td><%= item.ExpireDate %></td>
	            </tr>
						<% } %>
            <tr>
              <td>聯絡電話</td>
              <td><%= item.EventOrder.phone ? item.EventOrder.phone : " " %></td>
            </tr>
            <tr>
              <td>聯絡地址</td>
              <td><%= item.EventOrder.address ? item.EventOrder.address : " " %></td>
            </tr>
            <tr>
              <td>備註</td>
              <td><%= item.EventOrder.note ? item.EventOrder.note : " " %></td>
            </tr>
						<% if(item.EventOrder.invoiceNo){ %>
	            <tr>
	              <td>發票號碼</td>
	              <td><%= item.EventOrder.invoiceNo %></td>
	            </tr>
						<% } %>
          </tbody>
        </table>

				<p>感謝您的購買！</p>
				<a class="btn-u btn-bordered" href="/event/show/<%= item.EventOrder.Event.PostId %>">返回活動資訊</a>
			</div>
		</div>
	</div>
	<!--Shop Done Block-->
</div>
<!--=== End Content Part ===-->
