<style>
  .hiddenRow {
    padding: 0 !important;
  }

  .accordion-toggle td:first-child:after {
    content: "\f078"; /* fa-chevron-down */
    font-family: 'FontAwesome';
    right: 0;
  }

  tr[aria-expanded="true"] > td:first-child:after{
    font-family: 'FontAwesome';
    content: "\f077"; /* fa-chevron-up */
  }
  
  .ng-binding {
    margin-top: 5px;
    margin-left: 5px;
  }
</style>

<div class="news-v3 bg-color-white margin-bottom-60">

  <% if (data.coverUrl) { %>
    <% if (data.coverType == 'img') { %>
      <img class="img-responsive full-width" src="<%= data.coverUrl %>" alt="" onerror="this.src='/assets/labfnp/img/blog_event_default_cover.jpg';">
    <% } else{ %>
      <div class="responsive-video">
        <iframe src="<%= data.coverUrl %>" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    <% } %>
  <% } %>
  <div class="news-v3-in">

    <div class="row">
      <div class="blog-title col-md-8">
        <h2><%= data.title %></h2>
      </div>

      <div class="col-md-2 col-md-offset-2">
        <% var socialData = social.data[0] %>
        <%- include ../lib/fbLikeShare.ejs %>
      </div>
    </div>

    <div class="blog-content">
      <%- data.content %>
    </div>

    <div class="panel panel-brown margin-bottom-40 margin-top-20">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-ticket"></i>票券資訊</h3>
			</div>
			<div class="panel-body">
				<table class="table">
					<thead>
						<tr>
              <th></th>
							<th>票券名稱</th>
							<th class="hidden-sm">發售狀態</th>
							<th>票價</th>
							<th>訂購</th>

						</tr>
					</thead>
					<tbody>
            <% data.Events.forEach(function(Event){ %>
  						<tr data-toggle="collapse" data-target="#event<%= Event.id %>" class="accordion-toggle">
                <td></td>
                <td>
                  <%= Event.title %>
                </td>
  							<td><%= Event.signupCount + "/" + Event.limit %></td>
  							<td class="hidden-sm"><%= Event.price %></td>
                <% if (Event.open){ %>
                  <td><a href="/event/order/<%= Event.id %>" data-id="<%= Event.id %>" class="btn btn-success btn-xs"><%= Event.status %></a></td>
                <% } else { %>
                  <td><a data-id="<%= Event.id %>" class="btn btn-warming btn-xs "><%= Event.status %></a></td>
                <% } %>

              </tr>
              <tr>
                  <td colspan="5" class="hiddenRow">
                    <div class="accordian-body collapse" id="event<%= Event.id %>">
                      <div>
                          <b>票券名稱：</b>
                      </div>
                      <p class="ng-binding">
                          <%= Event.title %>
                      </p>
                      <div>
                          <b>售票時間：</b>
                      </div>
                      <p class="ng-binding">
                          <%= Event.sellStartDate %> ~ <%= Event.sellEndDate %>
                      </p>
                      <div>
                          <b>有效時間：</b>
                      </div>
                      <p class="ng-binding">
                          <%= Event.eventStartDate %> ~ <%= Event.eventEndDate %>
                      </p>
                      <div ng-show="ticket.description" class="">
                          <b>票券說明：</b>
                      </div>
                      <div ng-show="ticket.description" class="ng-binding">
                        <% var description = Event.description.replace(/[\r\n|\n]/g,"<br/>").split('<br/>');%>
                        <% description.forEach(function( desc ){ %>
                          <%= desc %><br/>
                        <% }); %>
                      </div>
                    </div>
                  </td>
              </tr>
            <% }); %>
					</tbody>
				</table>
			</div>
		</div>

    <div>
      <%- include ../lib/fbLikeShare.ejs %>
    </div>
  </div>
</div>

<h2>回應這篇文章</h2>

<div class="fb-comments" data-href="<%= SocialService.getShareUrl() + req.path %>" data-numposts="5"></div>

<% LayoutUtils.addScriptBlock(`
  $(document).ready(function(){

   $(".needLogin").on("click", function(event){
     event.preventDefault();
     swal({
       title: '請先登入',
       text: '此操作需為會員，請先進行登入。',
       type: 'warning',
       showCancelButton: true,
       confirmButtonColor: "#e6caa8",
       confirmButtonText: "登入",
       cancelButtonText: "註冊",
       closeOnConfirm: false,
       closeOnCancel: false,
     },function(isConform){
       if(isConform){
         open('/login?url=/event' , '_self');
       }else{
         open('/register', '_self');
       }
     });
     document.querySelector('.sweet-overlay').onclick = function(event) {
       swal.close();
     };
     $(document).on('keydown', function(evt){
       if(evt.keyCode == 27){
         swal.close();
       }
     });
   });

  });
`); %>
