<nav class="navbar navbar-default navbar-fixed-top navbar-static-top LFP-navbar">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <!--<img src="/assets/labfnp/img/logo-text-light.png" alt="Logo">-->
        LFP
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/">首頁</a></li>
        <li><a href="/lab">實驗室</a></li>
        <li><a href="/wall">近期動態</a></li>
        <li><a href="/blog">網誌</a></li>
        <li><a href="/event">活動</a></li>
        <% if (!req.session.authenticated) { %>
          <li class="<%= (req.path=='/register')?'active':'' %>"><a href="/register">註冊</a></li>

          <% var loginBackUrl = req.url;%>
          <% if(loginBackUrl === '/register' || loginBackUrl === '/') { %>
          <%   loginBackUrl = '' %>
          <% } else { %>
          <%   loginBackUrl = '?url=' + loginBackUrl %>
          <% } %>
          <li class="<%= (req.path=='/login')?'active':'' %>"><a id="login" href="/login<%= loginBackUrl %>">登入</a></li>
        <% } else { %>
          <li><a id="logout-link" class="logout-link" href="#" >登出</a></li>
          <li class="<%= (req.path=='/me')?'active':'' %>" >
            <a href="/me">
              <%= req.session.passport.user.displayName %>
            </a>
          </li>
        <% } %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<% LayoutUtils.addScriptBlock(`
  $('.logout-link').click(function(){
    swal({
      title: '確認',
      text: '您確定要登出了嗎？',
      type: 'warning',
      showCancelButton: true,
      confirmButtonColor: "#e6caa8",
      confirmButtonText: "登出",
      cancelButtonText: "取消",
      closeOnConfirm: true,
      closeOnCancel: true,
    },function(isConform){
      if(isConform){
        open('/logout', '_self');
      }else{
        swal.close();
      }
    });
  });


  $(':not(.navbar-responsive-collapse)').on('click',function(event) {
    $('.navbar-responsive-collapse').collapse('hide');
  });

  $(':not(.navbar-responsive-collapse)').on('tap', function(event) {
    $('.navbar-responsive-collapse').collapse('hide');
  });
`); %>
